#errorWrap{
	height: 900px;
	/*background: red;*/
}
.error{
	height: 900px;
	width: 1920px;
	background:url(../images/error.jpg) no-repeat center 60px;
	margin: 0 auto;
	overflow: hidden;
}
.error p:nth-child(1){
	font-size: 44px;
	line-height: 44px;
	color: #333333;
	text-align: center;
	margin-top: 464px;
}
.error p:nth-child(2){
	font-size: 26px;
	line-height: 26px;
	color: #333333;
	text-align: center;
	margin-top: 30px;
}
.error p:nth-child(3){
	font-size: 26px;
	line-height: 26px;
	color: #333333;
	text-align: center;
	margin-top: 33px;
}
.error a{
		margin-top: 76px;
}
.error a:nth-of-type(1){
	float: left;
	display: block;
	border: 1px solid #333333;
	height: 45px;
	width: 140px;
	border-radius:22px;
	font-size: 24px;
	line-height: 24px;
	color: #333333;
	line-height: 45px;
	text-align: center;
	margin-left: 787px;
	margin-right: 67px;
}
.error a:nth-of-type(2){
	float: left;
	display: block;
	border: 1px solid #333333;
	height: 45px;
	width: 140px;
	border-radius:22px;
	font-size: 24px;
	line-height: 24px;
	color: #333333;
	line-height: 45px;
	text-align: center;
}
